## Geração da classe Consulta Action
##
##
## Definicao de variáveis
##
#set ($voString = "$vo")
#set ($vo = $class.getSimpleName())
#set ($dao = $class.getSimpleName().replace("Vo", "Dao"))
#set ($be = $class.getSimpleName().replace("Vo", "Be"))
#set ($action = $class.getSimpleName().replace("Vo", "ConsultaAction"))
#set ($voLength = $vo.length() - 2) 
#set ($simpleVo = $vo.substring(0, $voLength).toLowerCase())
#set ($pageJsp = "web/pages/" + $grupo + "/" + $simpleVo + "/" + $simpleVo + "consulta.jsp") 
#set ($pageJspGrid = "web/pages/" + $grupo + "/" + $simpleVo + "/" + $simpleVo + "consulta_grid.jsp") 
#set ($fields = $class.getDeclaredFields())
##
##
##
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt"%>

<%@include file="../../header-title.jsp"%>

<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue-hoki">
		
			<div class="portlet-title">
				<div class="caption">
					<i class="fa "></i>${subtitulo}
				</div>
			</div>
			
			<div class="portlet-body form FormularioCadastro FormularioGeral" data-page-consulta="${simpleVo}consulta.action" data-page-operacao="${operacao}" data-page-cadastro="${simpleVo}cadastro.action">
				<form class="form-horizontal" action="#" role="form">
					<div class="form-body">
#set ($autofocus = 'autofocus="autofocus"')
#set ($first = true)
##
##
#foreach($field in $fields)
#if ( $ValidatorUtils.isField($field) )
						<div class="form-group">
							<label class="col-sm-2 control-label text-right">$ValidatorUtils.getFieldDescription($field)</label>
							<div class="col-sm-7">
#set ($disabled = "")
#if ( $ValidatorUtils.isKey( $field ))
#set ($disabled = 'disabled="disabled"')
#set ($autofocus = "")
#else
#if ($first)
#set ($autofocus = 'autofocus="autofocus"')
#set ( $first = false )
#else
#set ($autofocus = "")
#end
#end
##
##
## *************************** Validacao do tipo de Input ***************************
## 
## ------- Tipo Domain -------
#if ($ValidatorUtils.isDomain( $field ) )
								<select id="$field.getName()" class="form-control input-circle">
#foreach( $d in $ValidatorUtils.getDomains( $field ) )
									<option <c:if test="${ vo.$field.getName() == '$d.getValor()'}">selected="selected"</c:if> value="$d.getValor()">$d.getDescricao()</option>
#end
								</select>
#else
								<input id="$field.getName()" type="text" $disabled $autofocus class="form-control input-circle" value="${ vo.$field.getName() }" />
#end
##
## **********************************************************************************
##
##
							</div>
						</div>
						
#end
#end
##
##
						<%@include file="../../botoes-cadastro.jsp"%>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>